---
import PageLayout, {
  type Props as PageLayoutProps
} from '@/layouts/PageLayout.astro'

const frontmatter: PageLayoutProps['frontmatter'] = {
  title: 'Album'
}

import { Image } from 'astro:assets'

import { getCollection } from 'astro:content'

import { getAlbumImages } from '@/util/albums'

export async function getStaticPaths() {
  const albums = await getCollection('albums')

  const paths = Object.values(albums).map((album) => {
    return {
      params: {
        id: album.id
      },
      props: {
        album
      }
    }
  })

  return paths
}

const { album } = Astro.props
const images = await getAlbumImages(album.id)
---

<PageLayout {frontmatter}>
  <div class="text-center">
    <h1 class="text-5xl font-bold">
      {album.data.title}
    </h1>
    <p class="my-4 text-xl">
      {album.data.description}
    </p>

    <div
      class="container mx-auto my-8 text-center sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5"
    >
      {
        images.map((image) => (
          <Image
            src={image}
            alt={`Image from ${album.data.title} album`}
            format="avif"
            quality={50}
            class="mb-4 rounded border border-transparent transition-all duration-300 ease-in-out hover:border-gray-300 hover:shadow-lg"
            loading="lazy"
          />
        ))
      }
    </div>

    <p class="my-4 text-center text-lg">
      <a href="/gallery/" class="hover:underline">View other albums</a>
    </p>
  </div>
</PageLayout>
