---
import PageLayout, {
  type Props as PageLayoutProps
} from '@/layouts/PageLayout.astro'

import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

const albums = await getCollection('albums')

const frontmatter: PageLayoutProps['frontmatter'] = {
  title: 'Gallery',
  activeHeaderLink: 'Gallery'
}
---

<PageLayout {frontmatter}>
  <div class="p-8">
    <h1 class="my-8 text-center text-5xl font-bold">Gallery</h1>
    <div
      class="container mx-auto grid max-w-(--breakpoint-sm) grid-cols-2 gap-8"
    >
      {
        albums.map((item) => (
          <a
            href={`/gallery/${item.id}`}
            class="group mb-4 block transition-all"
          >
            <Image
              src={item.data.cover}
              alt={item.data.title}
              format="avif"
              width={720}
              quality="mid"
              class:list={[
                'rounded-lg transition-all',
                'group-hover:opacity-90 group-hover:shadow-lg'
              ]}
            />
            <div class="text-center">
              <strong class="font-normal">{item.data.title}</strong>
              <p class="text-xs">{item.data.description}</p>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</PageLayout>
